// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alertDismissing {
    background-color: #ffc107;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem ;
    border: none
}

.btn {
    padding: 0.5rem;
}

#collapseExample {
    display: none;
}